.header {
    position: fixed;
    top: 0;
    width: 100%;
    height:100px;
    z-index: 99;
    font-size: 15px;
    color: #333;
    background: #FFF;
}
.header-wrap {
    padding: 9px 30px;
}
.header ul li {
    float: left;
    list-style: none;
    padding: 0px 15px;
    line-height: 70px;
}
.header ul li a {
    color: #333;
}
.header ul li .active-menu, .header ul li a:hover{
    color: #13b987;
    border-bottom: 2px solid #13b987;
    padding-bottom: 6px;
    text-decoration: none;
}
.header ul li img {
    padding-right: 12px;
}
@media (max-width: 480px) {
    .banner,.banner-index ul li {
        min-height: 430px;
    }
    .header-wrap .col-xs-12 {
        text-align: center;
    }
}
@media (max-width: 568px) {
    .banner, .banner-index ul li {
        min-height: 460px;
    }
    .header-wrap .col-xs-12 {
        text-align: center;
    }
}
@media (max-width: 640px) {
    .banner, .banner-index ul li {
        min-height: 490px;
    }
    .header-wrap .col-xs-12 {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .banner, .banner-index ul li {
         min-height: 550px;
    }
    .header-wrap .col-xs-12 {
        text-align: center;
    }
}
@media (max-width: 800px) {
    .banner, .banner-index ul li {
        min-height: 585px;
    }
}
@media (max-width: 991px) {
    .banner, .banner-index ul li {
        min-height: 625px;
    }
}
@media (max-width: 1024px) {
    .banner, .banner-index ul li {
        min-height: 700px;
    }
}
@media (max-width: 1080px) {
    .banner, .banner-index ul li {
        min-height: 740px;
    }
}
@media (min-width: 1080px) {
    .banner, .banner-index ul li {
        min-height: 740px;
    }
    .bottom-right {
        text-align: right;
        margin-bottom: 10px;
    }
}
.banner {
    margin-top: 100px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}
.banner-home {
    background: url(../images/banner.png) no-repeat center;
}
.banner-invest{
    background: url(../images/banner2.jpg) no-repeat center;
}

.advantage {
    text-align: center;
}
.advantage-title {
    font-size: 24px;
    color: #333;
    padding: 80px 0px 160px;
}
.advantage .advantage1 {
    font-size: 20px;
    color: #13b987;
    padding-top: 130px;
    padding-bottom: 42px;
}
.advantage .advantage-desc {
    font-size: 18px;
    color: #666;
    padding: 0px 20px 60px 20px;
}


.how-loan-wrap {
    width: 100%;
    background: #f0fffa;
}
.how-loan-title {
    font-size: 24px;
    color: #333;
    padding: 80px 0px 78px;
    text-align: center;
}
.how-loan-content {
    min-height: 654px;
    padding-bottom: 70px;
    padding-top: 30px;
    text-align: center;
}
.how-loan-item {
    height: 170px;
    font-size: 18px;
    color: #666;
    clear: both;
    line-height: 1.5em;
}
.how-loan-item .how-loan-item-title {
    font-size: 22px;
    color: #13b987;
}
.how-loan-item img {
    padding-right: 20px;
}
.how-loan-item .how-loan-item-content {
    padding-left: 55px;
}

.faq-wrap {
    padding: 80px 30px 80px 0px;
}
.faq-title {
    font-size: 24px;
    color: #333;
    padding-bottom: 80px;
    text-align: center;
}
.faq-wrap li {
    color: #666;
    font-size: 18px;
    line-height: 35px;
    padding-bottom: 30px;
    list-style: none;
}
.faq-wrap li div {
    font-size: 20px;
    color: #13b987;
    padding-bottom: 10px;
}
.bottom {
    width: 100%;
    background: #f0fffa;
    padding: 0px 0px 20px;
}
.bottom .bottom-title {
    font-size: 22px;
    padding-top: 40px;
    color: #333;
}
.bottom .bottom-googleplay {
    padding: 24px 0px 42px;
}
.bottom .bottom-googleplay img{
    margin-right: 20px;
}
.bottom .bottom-download {
    color: #666;
    font-size: 16px;
}
.bottom .bottom-phone {
    font-size: 24px;
    color: #13b987;
    padding: 24px 0px;
}
.bottom .bottom-phone img {
    padding-right: 12px;
}
.bottom .bottom-sevice {
    font-size:16px;
    color: #666;
}

.bottom .bottom-copyright {
    font-size: 16px;
    color: #666;
    text-align: center;
    padding-top: 10px;
}
.bottom .bottom-links {
    padding-top: 10px;
}
.bottom .bottom-links img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.bottom .disclaimer {
  color: #666;
  font-size: 16px;
}

.header-shadow {
    box-shadow: -2px 1px 10px rgba(0,0,0,.1);
}
.aboutus .about-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 0px 0px 50px;
}
.aboutus{
    margin-top: 100px;
    padding: 50px 20px 50px;
    font-size: 16px;
    color: #666;
    line-height: 35px;
}
.aboutus-img {
    padding: 40px 0px 40px;
}
.faq-help {
    margin-top: 100px;
    padding-top: 50px;
}
.qrcode {
    position: fixed;
    top: 500px;
    right: 50px;
    z-index: 99999;
}
.qrcode img {
    width: 180px;
    height: 180px;
}

.product-info{
    text-align: center;
    width: 460px;
    margin-top: 120px;
}
.product-info .product-title {
    height: 60px;
    background: #31d6a4;
    color: #fff;
    size: 20px;
    line-height: 60px;
}
.product-info ul {
    list-style: none;
    padding: 0px;
    color: #333;
    font-size: 16px;
}
.product-info ul li span {
    color: #13b987;
    font-size: 20px;
}
.product-info ul li {
    background: #fff;
    height: 100px;
    line-height: 40px;
    padding: 10px;
}
.product-info ul li.even{
    background: #e7fdf6;
}
.product-info ul li.even-last{
    line-height: 80px;
}
.product-info ul li.custom {
    line-height: 28px;
}
.invest-process{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.invest-terms{
    text-align: center;
}
.invest-desc .advantage-desc{
    margin-top: 80px;
}

.index-process{
    margin-bottom: 100px;
}
.reason-wrap {
    width: 100%;
    margin-bottom: 80px;
    height: 1020px;
}
.reason-wrap .how-loan-title{
    color: #000;
}
.reason-content{
    margin-top: 50px;
    position: relative;
    font-size: 20px;
}
.reason-content .reason-item1 {
    position: absolute;
    right: 0px;
    width: 55%;
}
.reason-content .reason-item1 .reason-item-icon{
    width: 226px;
    float: left;
}
.reason-content .reason-item1 .reson-item-desc{
    width: 60%;
    float: left;
    background: #f0fffa;
    height: 226px;
    padding: 30px;
    line-height: 40px;
}

.reason-content .reason-item2 {
    position: absolute;
    left: 0px;
    top: 165px;
    width: 57%;
}
.reason-content .reason-item2 .reason-item-icon{
    width: 226px;
    float: right;
}
.reason-content .reason-item2 .reson-item-desc{
    width: 60%;
    float: right;
    background: #f0fffa;
    height: 226px;
    padding: 30px;
    line-height: 40px;
}

.reason-content .reason-item3 {
    position: absolute;
    right: 0px;
    top: 330px;
    width: 55%;
}
.reason-content .reason-item3 .reason-item-icon{
    width: 226px;
    float: left;
}
.reason-content .reason-item3 .reson-item-desc{
    width: 60%;
    float: left;
    background: #f0fffa;
    height: 226px;
    padding: 30px;
    line-height: 40px;
}

.reason-content .reason-item4 {
    position: absolute;
    left: 0px;
    top: 495px;
    width: 57%;
}
.reason-content .reason-item4 .reason-item-icon{
    width: 226px;
    float: right;
}
.reason-content .reason-item4 .reson-item-desc{
    width: 60%;
    float: right;
    background: #f0fffa;
    height: 226px;
    padding: 30px;
    line-height: 40px;
}

.banner-index {
    position: relative;
    overflow: auto;
    margin-top: 100px;
}
.banner-index ul{
    margin: 0px;
    padding: 0px;
}
.banner-index li { list-style: none; }
.banner-index ul li { float: left; background: no-repeat }

.index-process .index-process-title {
    font-size: 24px;
    color: #333;
    padding: 130px 0px 50px;
    text-align: center;
}

.sitelink{
    padding-top: 40px;
    font-size:20px;
    line-height: 45px;
}
.sitelink ul{
    padding: 0px;
    margin: 0px;
}
.sitelink ul li{
    list-style: none;
}


.banner-index ul li {
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.banner-index .inner {
    padding: 160px 0 110px;
}

.banner-index h1, .banner-index h2 {
    font-size: 40px;
    line-height: 52px;

    color: #fff;
}

.banner-index .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
}
.banner-index .btn:hover {
    background: rgba(255,255,255,.05);
}
.banner-index .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner-index .btn, .banner-index .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner-index .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}
.banner-index .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner-index .dots li.active {
    background: #fff;
    opacity: 1;
}

.banner-index .arrows {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}
.banner-index .arrow {
    display: inline;
    padding-left: 10px;
    cursor: pointer;
}
